body{
    background-color: rgb(0 255 255 / 26%);
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 250%;
}
.btn{
    padding: 2%;
    /* border: 2px solid black; */
    border-radius: 18%;
    background-color: rgba(45, 206, 206, 0.26);
    margin-bottom: 5%;
}
.btn:hover{
    background-color: white;
    cursor: pointer;
}
.profile img{
    width: 25%;
}
hr{
    border-style:dotted;
    width: 15%;
    color: aqua;
}
.top-container{
    /* padding-bottom: 10%; */
    /* background-color: rgb(0 255 255 / 26%); */
    position: relative;
    padding-top: 10%;    
}
.cloud{
    width: 15%;
}
.tp-cloud{
   position: absolute;
   right: 30%;
   top: 5%;
}
.bt-cloud{
    position: absolute;
    left: 25%;
    bottom:38%;
}
.mountain{
    padding-top: 12%;
    width: 65%;
}
.skill-row{
    width: 50%;
    margin: 12% auto 12% auto;
    line-height: 2;
    text-align: left;
}
.web-dev{
    width: 35%;
    float: left;
    margin-right: 5%;
}
.middle-container{
    padding: 2%;
    background-color: white;
}

.cloud-dev{
    width: 35%;
    float: right;
    margin-left: 5%;
}


